*{
	box-sizing:border-box;
}
#header-nav{
	background-color:grey;
	border-radius: 0;
	border:0;
}
header{
	height:100px;
	background-color: grey;
}
/*div{
	height:50%;
}*/
body{
	margin:0;
	padding:0;
	background-color:green;
	font-family: cursive;
}
.navbar-brand h1{
	float: left;
	font-family:cursive;
	color:white;
	font-size: 1.5em;
	text-shadow: 4px 1px 4px #333;
	text-transform: uppercase;
	font-weight: bold;
}
.navbar-brand a:hover, .navbar-brand a:focus{
	text-decoration: none;
}
.one{
	float:right;
	clear: left;
	padding:1px 1px;
	border-style:solid;
	border-top-style: none;
	border-right-width: 2px;
	border-bottom-width:2px;
	border-left-width: 2px;
	border-color:black;
}
.quote{
	background-color: white;
	float:left;
	border-style: solid;
	border-color: black;
	border-width: 2px;
}
.dec{
	padding-left:5px;
	padding-right: 5px;
}
#sp1{
	background-color: #00AAAA;
}
#sp2{
	background-color: #AA00AA;
}
#sp3{
	background-color: #AAAA00;
}
#nav-list{
	margin-top:10px;
}
#nav-list a{
	background-color: white;
	padding: 3px;
	color:black;
	text-align: center;
}
#nav-list a:hover {
   background-color:black;
   color:white;
}
#nav-list a span{
	font-size: 1.8em;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
	border: 2px solid #61122f;
}
.navbar-header button.navbar-toggle{
	clear:both;
}

@media (min-width:992px)
{
	.quote{
		min-height: 200px;
		width:30%;
        margin-left:2.5%;
	}
}
@media (min-width:768px) and (max-width: 991px) {
  #q1 {
    width: 45%;
    min-height: 150px;
    margin-left:3.33%;
    margin-bottom:5%;
  }
  #q2{
  	min-height: 150px;
  	width: 45%;
  	margin-left:3.33%;
    margin-bottom:3.33%;
  }
  #q3{
  	min-height: 150px;
  	width:93.44%;
  	margin-left: 3.33%;
  }
}
@media (max-width:991px){
	.quote{
		min-height:150px;
		width:90%;
		margin-left:5%;
		margin-bottom:3.33%;
	}
	button{
	float:right;
	margin-top: 5px;
	height: 40px;
	width: 40px;
}
}
li {
	margin-bottom: 1px solid black;
	text-align: center;
	padding: 0px;
	width: 100%;
}
ul {
	list-style-type: none;
	font-size: 1.5em;
	width: 100%;
	padding: 0px;
}


