*{
	box-sizing:border-box;
}
#header-nav{
	background-color:grey;
	border-radius: 0;
	border:0;
}
#header-nav button{
	margin-top=22px;
}

body{
	margin:0;
	padding:0;
	background-color:green;
	font-family: cursive;
}
.navbar-brand h1{
	float: left;
	font-family:cursive;
	color:white;
	font-size: 1.5em;
	text-shadow: 4px 1px 4px #333;
	text-transform: uppercase;
	font-weight: bold;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
	background-color: yellow;
}
.navbar-brand a:hover, .navbar-brand a:focus{
	text-decoration: none;
}
.navbar-collapse{
	border-top:0;
}
.navbar-brand, .navbar-nav li a{
	line-height: 76px;
	height:76px;
	padding-top: 0;
}
.navbar-brand a:hover{
	text-decoration: none;
}
.one{
	float:right;
	clear: left;
	padding:1px 1px;
	border-style:solid;
	border-top-style: none;
	border-right-style:none;
	border-bottom-width:2px;
	border-left-width: 2px;
	border-color:black;
}
#Kobe,#Samuel,#Ralph{
	overflow: scroll;
	height:150px;
	width:100%;
	background-color: white;
	float:left;
	border-style: solid;
	border-color: black;
	border-width: 2px;
}
.dec{
	padding-left:5px;
	padding-right: 5px;
}
#sp1{
	background-color: #00AAAA;
}
#sp2{
	background-color: #AA00AA;
}
#sp3{
	background-color: #AAAA00;
}
#nav-list{
	margin-top:10px;
	background-color: brown;
}
#nav-list a{
	background-color: white;
	padding: 3px;
	color:black;
	text-align: center;
}
#nav-list a:hover {
   background-color:black;
   color:white;
}
#nav-list li a {
	font-size: 1.8em;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
	border: 2px solid black;
}


#main-content {
    width: 92%;
    margin-bottom: 30px;
}

#main-content h2 {
    font-size: 2.9em;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 50px;
}
#Inspiration, #Motivation,#Strength{
	width: 100%;
    padding: 20px;
    background-color: grey;
    margin-bottom: 60px;
}

@media (min-width: 768px){
.navbar-toggle {
     display: none; 
}
}



